body{background-color: black;}

.navbar{ width:95vw;  display:flex; justify-content:space-between;
align-items:center; padding:10px; background-color:#191825; margin: -10px 0 0 0; }

.logo h1{ font-size:2em; Color:white; }

.links{ display:flex; align-items:center;}

.links ul { margin-right:100px;}

.links ul li{ display:inline; margin-right: 5px ;
Color:white; position:relative; width:60px;}

.links ul li::before{ content:""; position:absolute;
height:3px; width:0%;
background-color:white; top:22px; transition:0.5s;}

.links ul li:hover::before{ width:100%; }

.links ul .active::before{ width:100%; }

.icon_1{ display:none; }

.icon_1 .bar_1{ width:30px; height:5px;
background-color:white; border-radius:50px;
transition:0.1s transform; transform-origin:0%;}

.icon_1 .bar_2{ width:30px; height:5px;
background-color:white; margin-top:5px;
border-radius:50px; transition:0.1s opacity; }

.icon_1 .bar_3{ width:30px; height:5px; background-color:white;
margin-top:5px; border-radius:50px;
transition:0.1s transform; transform-origin:0%;}

a{ text-decoration:none; color:white;
Padding:4px 20px; Margin-top:20px;
Border-radius:10px; box-shadow:5px 5px 20px #0000003B;}

  /*background Image*/

#home{ border:2px solid; width: auto; height: 70vh;}
#home img {width:98vw; height: 100%;}
#text{margin:-250px 0 0 100px; color: antiquewhite; font-size: large; font-weight: bold;}
#btn{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; }
#upward{color:antiquewhite; margin-left: 90vw;position: fixed; background-color: blue ; width:3vw; height: 5vh;cursor: pointer ; }

 /*About*/ 

 #about{display: flex;}

 #photo{border:2px solid black; height:525px; width:50vw;
   background-color:black; }

   #om {width:30vw; height:60vh;margin: 20px 0 0 8vw; box-shadow: 0px 5px 5px blue;
    border-radius: 75%; border: 2px solid rgb(250, 230, 233);}

  #text1{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; color:white;
     margin: 50px 0 0 17vw; }

  #photo h4{ color:white; margin: 20px 0 0 17vw;}

 #myinfo{border:2px solid black; height:525px; width:50vw; background-color:black; color: antiquewhite;padding: 20px 40px 0 0; overflow-y:scroll;}

 #myinfo h1{text-align: center;}

 #myinfo p{text-indent: 20px; text-align: justify; font-size: larger;}

 #icon{display: flex; margin-left:12vw;}

 .fa{font-size:xx-large; text-decoration:none; border-radius: 50%;
  margin: 20px; color: aliceblue; width: 30px; padding: 1vw; }

  .fa:hover {transition: All ease-in-out; transform: scale(1.2); color:antiquewhite}

 /*My profetional and coding Skills*/

 .head{text-align: center; color: antiquewhite; margin: 25px 0 0 0;}

 .myskills{ display:flex; }

  .myskill{ border: 2px solid blue; width:40vw; height:97vh; margin:25px 0 30px 50px;justify-items: center; box-shadow: 0px 5px 5px blue;}

  .pic{width:37vw; height:60vh; padding:20px;}

  .pic:hover {transition: All ease-in-out; transform: scale(1.1); }

  .myskill h4{color: antiquewhite; text-align: center;}

  .text2{color: antiquewhite; text-indent: 20px; padding:0 10px 5px 10px;}

  .certi{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; color:white;
     margin: 50px 0 0 17vw; }

  .coding{ border: 2px solid blue; width:40vw; height:85vh; margin:50px 0 30px 50px;justify-items: center; box-shadow: 0px 5px 5px blue;}

/*contact me*/

#contact{display:flex; justify-content: center;align-items: center;}

#form input{width:40vw; padding: 10px; color:antiquewhite; background-color: black; outline: none;} 

#form textarea{width:40vw; padding: 10px; color:antiquewhite; background-color: black; outline: none;resize: none; height: 120px;} 

#form button {text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:10px; background-color: black; color:antiquewhite; width: 10vw;}

/*media query*/

@media screen and (max-width:768px) and (min-width:601px){

.links{flex-direction:column; background-color:black;
 position:absolute; right:0px; top:70px;
 width:100vw; height:0px; overflow:hidden;
 transition:0.5s;}

.links ul{ margin-right:0px;}

.links ul li{ display:block; text-align:center;
 margin-top:30px; margin-right:5vw; }

.icon_1{ display:block;}

a{ text-decoration:none; color:white; Padding:4px 40px;
  Margin-top:20px; Border-radius:10px; font-size: x-large;
  box-shadow:5px 5px 20px #0000003B;}

   /*background Image*/

#home{ border:2px solid; width: auto; height:90vh;}
#home img {width:98vw; height: 100%;}
#text{margin:-300px 0 0 100px; color: antiquewhite; font-size: large; font-weight: bold;}
#btn{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; }
#upward{color:antiquewhite; margin-left: 80vw;position: fixed; background-color: blue ; width:5vw; height: 10vh;cursor: pointer ; }


  #om {width:30vw; height:50vh;margin: 10px 0 0 8vw; box-shadow: 0px 5px 5px blue;
    border-radius: 50%; border: 2px solid rgb(250, 230, 233);}

  .fa{font-size:xx-large; text-decoration:none; border-radius: 50%;
    margin: 20px 0 0 8px; color: aliceblue; width: 30px; padding: 1vw; }

    #text1{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; color:white;
      margin: 80px 0 0 60px; }

  #photo h4{ color:white; margin: 20px 0 0 15vw;}

  .myskill{ border: 2px solid blue; width:40vw; height:400px; margin:25px 0 30px 50px;justify-items: center; box-shadow: 0px 5px 5px blue;}

  .pic{width:33vw; height:30vh; padding:20px;}

  .certi{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; color:white; margin: 50px 0 0 50px; }

  .coding{ border: 2px solid blue; width:40vw; height:300px; margin:50px 0 30px 50px;justify-items: center; box-shadow: 0px 5px 5px blue;}

}

@media screen and (max-width:600px) and (min-width:451px){

  .links{flex-direction:column; background-color:black;
   position:absolute; right:0px; top:70px;
   width:100vw; height:0px; overflow:hidden;
   transition:0.5s;}
  
  .links ul{ margin-right:0px;}
  
  .links ul li{ display:block; text-align:center;
   margin-top:30px; margin-right:5vw; }
  
  .icon_1{ display:block;}
  
  a{ text-decoration:none; color:white; Padding:4px 40px;
    Margin-top:20px; Border-radius:10px;
    box-shadow:5px 5px 20px #0000003B;}
  
    .fa{font-size:xx-large; text-decoration:none; border-radius: 50%;
      margin: 20px 0 0 8px; color: aliceblue; width: 30px; padding: 1vw; }
  
      #text1{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; color:white; margin: 50px 0 0 11vw; }
  
    #photo h4{ color:white; margin: 20px 0 0 15vw;}
  
    .myskill{ border: 2px solid blue; width:40vw; height:500px; margin:25px 0 30px 30px;justify-items: center; box-shadow: 0px 5px 5px blue;}
  
    .pic{width:33vw; height:60vh; padding:20px;}
  
    .certi{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; color:white; margin: 50px 0 0 14vw; }

    #upward{color:antiquewhite; margin-left: 80vw;position: fixed; background-color: blue ; width:5vw; height: 5vh;cursor: pointer ; }

    #om {width:30vw; height:48vh;margin: 20px 0 0 8vw; box-shadow: 0px 5px 5px blue;
      border-radius: 75%; border: 2px solid rgb(250, 230, 233);}

        #icon{display: flex; margin-left:10vw;}

        #photo{border:2px solid black; height:390px; width:50vw;
          background-color:black; }

          #myinfo{border:2px solid black; height:390px; width:50vw; background-color:black; color: antiquewhite;padding: 20px 40px 0 0; overflow-y:scroll;}

  .coding{ border: 2px solid blue; width:40vw; height:85vh;
            margin:50px 20px 0 20px; justify-items: center; box-shadow: 0px 5px 5px blue;}

    .certi{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; color:white; margin: 50px 0 0 14vw; }
  }

@media screen and (max-width:400px) and (min-width:250px){

    .links{flex-direction:column; background-color:black;
     position:absolute; right:0px; top:70px;
     width:100vw; height:0vh; overflow:hidden;
     transition:0.5s;}
    
    .links ul{ margin-right:40px;}
    
    .links ul li{ display:block; text-align:center;
     margin-top:30px; margin-right:5vw; }

     .links ul li::before{ content:""; position:absolute;
      height:3px; width:0%;display: none;
      background-color:white; top:22px; transition:0.5s;}
      
      .links ul li:hover::before{ width:100%; }
      
      .links ul .active::before{ width:100%; }
      
    
    .icon_1{ display:block;}
    
    a{ text-decoration:none; color:white; Padding:4px 40px;
      Margin-top:20px; Border-radius:10px;
      box-shadow:5px 5px 20px #0000003B;}
    
      .fa{font-size:xx-large; text-decoration:none; border-radius: 50%;
        margin: 20px 0 0 8px; color: aliceblue; width: 30px; padding: 1vw; }
    
       /*background Image*/

#home{ border:2px solid; width: auto; height: 70vh;}
#home img {width:98vw; height: 100%;}
#text{margin:-400px 0 0 100px; color: antiquewhite; font-size: large; font-weight: bold;}
#btn{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; }
#upward{color:antiquewhite; margin-left: 70vw;position: fixed; background-color: blue ; width:5.5vw; height: 5vh;cursor: pointer ; }

 /*About*/ 

 #about{flex-direction: column;}

 #photo{border:2px solid black; height:550px; width:90vw;
   background-color:black; }

   #om {width:60vw; height:45vh;margin: 20px 0 0 14vw; box-shadow: 0px 5px 5px blue;
    border-radius: 75%; border: 2px solid rgb(250, 230, 233);}

  #text1{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; color:white;
     margin: 50px 0 0 28vw; }

  #photo h4{ color:white; margin: 20px 0 0 28vw;}

 #myinfo{border:2px solid black; height:600px; width:90vw; background-color:black; color: antiquewhite;padding: 20px 40px 0 0; overflow-y:scroll;}

 #myinfo h1{text-align: center;}

 #myinfo p{text-indent: 20px; text-align: justify; font-size: larger;}

 #icon{display: flex; margin-left:10vw;}

 .fa{font-size:xx-large; text-decoration:none; border-radius: 50%;
  margin: 20px; color: aliceblue; width: 8vw; padding: 3vw; }

  .fa:hover {transition: All ease-in-out; transform: scale(1.2); color:antiquewhite}

 /*My profetional and coding Skills*/

 .head{text-align: center; color: antiquewhite; margin: 25px 0 0 0;}

 .myskills{ flex-direction: column; }

  .myskill{ border: 2px solid blue; width:85vw; height:80vh; margin:25px 20px 30px 20px;justify-items: center; box-shadow: 0px 5px 5px blue;}

  .pic{width:73vw; height:40vh; padding:20px;}

  .pic:hover {transition: All ease-in-out; transform: scale(1.1); }

  .myskill h4{color: antiquewhite; text-align: center;}
  .text2{color: antiquewhite; text-indent: 20px; padding:0 10px 5px 10px;}

  .certi{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; color:white;
     margin: 50px 0 0 30vw; }

  .coding{ border: 2px solid blue; width:85vw; height:65vh; margin:25px 20px 30px 20px; justify-items: center; box-shadow: 0px 5px 5px blue;}

  #form button {text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:10px; background-color: black; color:antiquewhite; width: 20vw;}


    }

@media screen and (max-width:450px) and (min-width:401px){

  .links{flex-direction:column; background-color:black;
    position:absolute; right:0px; top:70px;
    width:100vw; height:0vh; overflow:hidden;
    transition:0.5s;}
   
   .links ul{ margin-right:40px;}
   
   .links ul li{ display:block; text-align:center;
    margin-top:30px; margin-right:5vw; }

    .links ul li::before{ content:""; position:absolute;
     height:3px; width:0%;display: none;
     background-color:white; top:22px; transition:0.5s;}
     
     .links ul li:hover::before{ width:100%; }
     
     .links ul .active::before{ width:100%; }
     
   
   .icon_1{ display:block;}
   
   a{ text-decoration:none; color:white; Padding:4px 40px;
     Margin-top:20px; Border-radius:10px;
     box-shadow:5px 5px 20px #0000003B;}
   

      .links ul li::before{ content:""; position:absolute;
        height:3px; width:0%;display: none;
        background-color:white; top:22px; transition:0.5s;}

        .fa{font-size:xx-large; text-decoration:none; border-radius: 50%;
          margin: 20px 0 0 8px; color: aliceblue; width: 30px; padding: 1vw; }
      
         /*background Image*/
  
  #home{ border:2px solid; width: auto; height: 70vh;}
  #home img {width:98vw; height: 100%;}
  #text{margin:-300px 0 0 100px; color: antiquewhite; font-size: large; font-weight: bold;}
  #btn{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; }
  #upward{color:antiquewhite; margin-left: 70px;position: fixed; background-color: blue ; width:5.5vw; height: 5vh;cursor: pointer ; }
  
   /*About*/ 
  
   #about{flex-direction: column;}
  
   #photo{border:2px solid black; height:500px; width:90vw;
     background-color:black; }
  
     #om {width:30vw; height:60vh;margin: 20px 0 0 14vw; box-shadow: 0px 5px 5px blue;border-radius: 75%; border: 2px solid rgb(250, 230, 233);}
  
    #text1{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; color:white;
       margin: 50px 0 0 28vw; }
  
    #photo h4{ color:white; margin: 20px 0 0 28vw;}
  
   #myinfo{border:2px solid black; height:600px; width:90vw; background-color:black; color: antiquewhite;padding: 20px 40px 0 0; overflow-y:scroll;}
  
   #myinfo h1{text-align: center;}
  
   #myinfo p{text-indent: 20px; text-align: justify; font-size: larger;}
  
   #icon{display: flex; margin-left:10vw;}
  
   .fa{font-size:xx-large; text-decoration:none; border-radius: 50%;
    margin: 20px; color: aliceblue; width: 8vw; padding: 3vw; }
  
    .fa:hover {transition: All ease-in-out; transform: scale(1.2); color:antiquewhite}
  
   /*My profetional and coding Skills*/
  
   .head{text-align: center; color: antiquewhite; margin: 25px 0 0 0;}
  
   .myskills{ flex-direction: column; }
  
    .myskill{ border: 2px solid blue; width:85vw; height:80vh; margin:25px 20px 30px 20px;justify-items: center; box-shadow: 0px 5px 5px blue;}
  
    .pic{width:73vw; height:40vh; padding:20px;}
  
    .pic:hover {transition: All ease-in-out; transform: scale(1.1); }
  
    .myskill h4{color: antiquewhite; text-align: center;}
    .text2{color: antiquewhite; text-indent: 20px; padding:0 10px 5px 10px;}
  
    .certi{text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:25px; background-color: black; color:white;
       margin: 50px 0 0 30vw; }
  
    .coding{ border: 2px solid blue; width:85vw; height:70vh; margin:25px 20px 30px 20px; justify-items: center; box-shadow: 0px 5px 5px blue;}
  
    #form button {text-decoration: none; border: 2px solid blue; padding: 10px; border-radius:10px; background-color: black; color:antiquewhite; width: 20vw;}
        

    }
